.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTask{
  width: 100%;
}

.header {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.createdTasks {
  display: flex;
  flex-direction: row;
  color: var(--blue-300);
  font-weight: 700;
  gap: 0.5rem;
}

.createdTasks span{
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 50px;
  font-size: 0.875rem;
  padding: 0.125rem 0.5rem;
}

.completedTasks {
  display: flex;
  flex-direction: row;
  color: var(--purple-300);
  font-weight: 700;
  gap: 0.5rem;
}

.completedTasks span{
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 50px;
  font-size: 0.875rem;
  padding: 0.125rem 0.5rem;
}

.tasks{
  width: 100%;
  margin: 1.6rem 0;
  list-style-type: none;
  font-size: 0.875rem;
  line-height: 1.4;
}

